.icon__arrow {
    &:first-child {
        position: fixed;
        background: url(../img/navarrow.svg) center no-repeat;
        width: 20px;
        height: 20px;
        right: 70px;
        top: 20px;
        background-color: #EEE;
        border-radius: 50%;
        transform: rotate(-180deg);
    }
    position: fixed;
    background: url(../img/navarrow.svg) center no-repeat;
    width: 20px;
    height: 20px;
    right: 40px;
    top: 20px;
    background-color: #EEE;
    border-radius: 50%;
    
    &:hover {
        border: 1px solid #888;
    }

    @include phones {
        display: none;
    }
}